.audio-wave {
  z-index: 1;
  width: 100%;
}

.audio-wave-container {
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 8px;

  &.theme-light {
    background-color: var(--color-white);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  }

  &.theme-dark {
    background-color: var(--color-dark-blue);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  }

  &.theme-footer {
    background-color: transparent;
    margin: 0;
    padding: 0;
  }
}

.audio-wave-title {
  margin: 0;
  /* color: #343f49; */
  margin-bottom: 14px;
  font-size: 1.2em;
  cursor: default;
  background: var(--color-white);
  color: var(--color-dark-blue);
  padding: 14px;
  margin-bottom: -1em;
  border-radius: 8px;
}

/* The div where WaveSurfer will draw the waveform */
.waveform {
  width: 100%;
  height: 80px; /* Set a fixed height for the waveform */
  cursor: col-resize;
}

.metadata {
  width: auto;
  min-width: 230px;
  max-width: 20%;

  @media screen and (max-width: 640px) {
    width: auto;
  }
}

.player {
  width: 100%;
  flex: 1;

  @media screen and (max-width: 640px) {
    width: auto;
  }

  button {
    border-radius: 20px;
    background: none;
    cursor: pointer;
    border: none;
    transition: transform 0.1s ease-in-out;
  }

  button:hover {
    transform: scale(1.15);
  }
}
