.animated-link {
  position: relative;
  line-height: 1;
}

.animated-link-inner {
  display: inline-block;
  position: relative;
}

.animated-link-deco {
  outline: 120px solid transparent;
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.animated-link--line .animated-link-deco,
.animated-link--linethrough .animated-link-deco,
.animated-link--twolines .animated-link-deco,
.animated-link--diagonal .animated-link-deco {
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background: currentColor;
}

.animated-link--linethrough .animated-link-deco {
  bottom: 50%;
  height: 3px;
}

.animated-link--twolines .animated-link-deco {
  height: 100%;
  background: none;
  border: 1px solid currentColor;
  border-right: 0;
  border-left: 0;
}

.animated-link--circle .animated-link-deco,
.animated-link--box .animated-link-deco {
  left: 50%;
  top: 50%;
  width: 5rem;
  height: 5rem;
  margin: -2.5rem 0 0 -2.5rem;
}

.animated-link--circle .animated-link-deco {
  border-radius: 50%;
  border: 1px solid white;
}

.animated-link--box .animated-link-deco {
  border: 1px solid white;
}

.animated-link--diagonal .animated-link-deco {
  bottom: 50%;
  width: 9rem;
  left: 50%;
  margin-left: -4.5rem;
  transform: rotate(-45deg);
}

.animated-link:hover .animated-link-deco,
.animated-link.active .animated-link-deco {
  opacity: 1;
}
