button {
  all: unset;
  text-shadow: none;
  display: flex;
  align-items: stretch;
}

.button {
  background: #fff;
  color: #154c57;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  backdrop-filter: blur(2px);
  border-radius: 20px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
  font-size: 0.8em;
  position: relative;
  gap: 0.5em;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.85;
  }

  &.secondary {
    background: rgba(80, 108, 131, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #fff;
  }
}

@media screen and (max-width: 768px) {
  .button {
    font-size: 1.1rem;
  }
}

.info-button {
  svg {
    transition: transform 0.1s ease-in-out;
  }
  &:hover {
    svg {
      transform: scale(1.15);
    }
  }
}
