@import '@fontsource-variable/work-sans';
@import '@fontsource/cute-font';
@import '@fontsource/baloo-da-2';

.font-family-work-sans {
  font-family: 'Work Sans Variable', sans-serif;
}

.font-family-cute-font {
  font-family: 'Cute Font', system-ui;
}

.font-family-baloo {
  font-family: 'Baloo Da 2', system-ui;
}