@import '@fontsource/cute-font';

@import '@fontsource/baloo-da-2/500.css';

@import '@fontsource/livvic/200.css';
@import '@fontsource/livvic/300.css';
@import '@fontsource/livvic/400.css';
@import '@fontsource/livvic/500.css';
@import '@fontsource/livvic/600.css';

.font-family-cute {
  font-family: 'Cute Font', cursive;
}

.font-family-baloo {
  font-family: 'Baloo Da 2', system-ui;
}
