@import '@fontsource-variable/work-sans/wght.css';
@import '@fontsource/cute-font/latin-400.css';
@import '@fontsource/baloo-da-2/latin-500.css';

.font-family-work-sans {
  font-family: 'Work Sans Variable', sans-serif;
}

.font-family-cute-font {
  font-family: 'Cute Font', system-ui;
}

.font-family-baloo {
  font-family: 'Baloo Da 2', system-ui;
}