.flex {
  display: flex;
}

.column-5 {
  width: 5%;
}

.column-10 {
  width: 10%;
}

.column-10 {
  width: 10%;
}

.column-20 {
  width: 20%;
}

.column-30 {
  width: 30%;
}

.column-40 {
  width: 40%;
}

.column-50 {
  width: 50%;
}

.column-60 {
  width: 60%;
}

.column-70 {
  width: 70%;
}

.column-80 {
  width: 80%;
}

.column-90 {
  width: 90%;
}

.column-100 {
  width: 100%;
}

.gap-0-5 {
  gap: 0.5em;
}

.gap-1 {
  gap: 1em;
}

.gap-1-5 {
  gap: 1.5em;
}

.gap-2 {
  gap: 2em;
}

.mt-1 {
  margin-top: 1em;
}

.mt-2 {
  margin-top: 2em;
}

.mt-3 {
  margin-top: 3em;
}
