.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.column-20 {
  width: 20%;
}

.column-70 {
  width: 70%;
}

.gap-0-5 {
  gap: 0.5em;
}

.gap-1 {
  gap: 1em;
}

.mobile-ml-1 {
  @media (max-width: 768px) {
    margin-left: 1em;
  }
}

.ml-1 {
  margin-left: 1em;
}

.mt-1 {
  margin-top: 1em;
}

.mr-1 {
  margin-right: 1em;
}

.mb-2 {
  margin-bottom: 2em;
}
