.image-border {
  width: 300px;
  display: flex;
  position: relative;
  margin: 0;

  > img {
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
    border: 3px solid rgb(0 0 0 / 10%);
    box-sizing: border-box;
    backdrop-filter: blur(2px);
    z-index: 0;
  }

  > figcaption {
    position: absolute;
    z-index: 10;
    bottom: 0;
    right: 0;
    padding: 0.3em 0.5em;
    background: rgb(0 0 0 / 26%);
    border-top-left-radius: 6px;
    font-size: 0.9em;
    font-weight: 600;
  }

  &.overlay::before {
    content: '';
    z-index: 10;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: linear-gradient(
      315deg,
      rgb(0 0 0 / 20%) 0%,
      rgba(0, 0, 0, 0) 50%
    );
  }
}

.image-grid {
  height: 490px;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 2em;
  margin-bottom: 0;

  figure {
    position: absolute;
  }
}

.video {
  aspect-ratio: 16 / 9;
  width: 100%;
}
