.image-border {
  width: 300px;
  display: flex;
  position: relative;
  margin: 0;

  @media (max-width: 768px) {
    margin-left: 1em;
  }

  > img,
  > video {
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
    border: 4px solid rgb(0 0 0 / 10%);
    box-sizing: border-box;
    backdrop-filter: blur(2px);
    z-index: 0;
  }

  > figcaption {
    position: absolute;
    z-index: 10;
    bottom: 0;
    right: 0;
    padding: 0.3em 0.5em;
    background: rgb(0 0 0 / 26%);
    border-top-left-radius: 6px;
    font-size: 0.9em;
    font-weight: 600;
  }

  &.overlay::before {
    content: '';
    z-index: 10;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    pointer-events: none;
    background: linear-gradient(
      315deg,
      rgb(0 0 0 / 20%) 0%,
      rgba(0, 0, 0, 0) 50%
    );
  }
}

.video-border {
  margin-top: 1.5em;
  transition: box-shadow 1.5s cubic-bezier(0.16, 1, 0.3, 1);
  > video {
    border-radius: 6px;
    border: 1px solid rgb(0 0 0 / 10%);
  }
  &.overlay::before {
    border-radius: 6px;
  }

  @media (max-width: 768px) {
    margin-top: 2em;
    margin-left: -1% !important;
    width: 102% !important;
  }
}

.video-border:hover {
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.5) !important;
}

.image-grid {
  height: 490px;
  min-height: 300px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
}
