.font-size-1-2 {
  font-size: 1.2em;
}

.font-size-1-5 {
  font-size: 1.5em;
}

.font-size-2 {
  font-size: 2em;
}

.font-style-bold {
  font-weight: 500;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
  line-height: 1.1;
  font-family: 'Baloo Da 2', system-ui;
  margin: 0;
}

h1 {
  font-size: 3.2em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4,
.h4 {
  font-size: 1.2em;
}

a {
  text-decoration: none;
  color: var(--color-link);
  transition: color 0.3s ease;
}

a:hover {
  color: var(--color-link-hover);
  outline: none;
}

a,
button {
  &:focus-visible {
    outline: 2px solid var(--color-hot-pink);
  }
}

strong {
  font-weight: 600;
}

p {
  font-size: 1.1em;
  font-weight: 400;
  margin: 0.5em 0;
  max-width: 900px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);

  @media (max-width: 768px) {
    font-size: 1.3em;
  }
}

.highlight {
  color: rgba(0, 0, 0, 0.9);
  box-decoration-break: clone;
  background: white;
  border-radius: 1rem;
  padding: 1px 0.5rem;
  text-shadow: none;
  font-weight: 500;
}
