.font-size-1-2 {
  font-size: 1.2em;
}

.font-size-1-5 {
  font-size: 1.5em;
}

.font-size-2 {
  font-size: 2em;
}

.font-style-bold {
  font-weight: 500;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: 'Baloo Da 2', cursive;
}

a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--color-link-hover);
  outline: none;
}

strong {
  font-weight: 600;
}

p {
  font-size: 1.1em;
  font-weight: 400;
  margin: 0.3em 0;
  max-width: 900px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.opacity-70 {
  opacity: 0.7;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-30 {
  opacity: 0.3;
}
