:root {
  /* Colors */
  --color-text: #eeeeee;
  --color-bg: #948e81;
  --color-title: var(--color-text);
  --color-link: #ffffff;
  --color-link-hover: #d7d7d7;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-dark: #121212;

  --color-light-azure: #154c57;
  --color-dark-azure: #1d383b;
  --color-dark-brown: #3c2014;
  --color-hot-pink: #df2d55;
  --color-dark-blue: #343f49;

  /* Spacing scale */
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 2rem;
  --space-lg: 4rem;
  --space-xl: 5rem;

  /* Layout */
  --content-max-width: 1600px;

  /* Background */
  --main-background: url(../assets/images/background/noise.webp),
    radial-gradient(
      ellipse at top,
      var(--color-dark-azure),
      transparent
    ),
    radial-gradient(
      ellipse at bottom,
      var(--color-dark-brown),
      transparent
    );
  --main-background-size: 200px, 100%, 200%;
  --main-background-attachment: fixed;
}
