.logo {
  font-family: 'Cute Font', system-ui;
  display: flex;
  margin: 0;
  font-weight: 400;
  color: var(--color-white);

  .splitting .char:hover {
    opacity: 0.5 !important;
    transition: opacity 0.15s ease-in-out;
  }
}
