.navigation {
  position: relative;
  display: flex;
  gap: 0.5em;
  font-weight: 500;
  font-size: 1.1rem;

  @media (max-width: 768px) {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 0.6rem 0;

    .nav-item {
      width: 100%;
      text-align: center;
      font-family: 'Baloo Da 2', system-ui;
      font-size: 1.3em;

      a {
        padding: 1em 0;
      }
    }

    .nav-slider {
      display: none;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0.2em;
      background-color: rgb(18 12 12 / 50%);
    }

    &.open {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-content: center;
      align-items: center;
    }
  }
}

.nav-item {
  position: relative;
  z-index: 1;
  cursor: pointer;

  a {
    display: block;
    padding: 0.5em 1em;
    color: inherit;
    text-decoration: none;
    border-radius: 20px;
    opacity: 0.85;
  }
}

.nav-slider {
  position: absolute;
  background: rgba(80, 108, 131, 0.45);
  border: 1px solid rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(2px);
  border-radius: 18px;
  pointer-events: none;
  z-index: 0;
}
