#contact .header-image {
  margin: 0 0 2em 0;
  width: 100%;
  height: auto;
  max-height: 301px;
  max-width: 400px;
  
  @media (max-width: 768px) {
    max-width: 104%;
    width: 104%;
    margin-left: -2%;
  }
}

.contact-link {
  mark {
    transition: transform 0.2s ease-in-out;
  }
  a {
    padding: 1em 0;
  }

  @media (max-width: 768px) {
    margin-left: 1em;
  }
}

.contact-link:hover mark {
  transform: translateX(0.3em);
}
