#home .header-image {
  margin: 0 0 2em 0;
  width: 100%;
  height: auto;
  max-height: 430px;
  max-width: 400px;
  
  @media (max-width: 768px) {
    max-width: 104%;
    width: 104%;
    margin-left: -2%;
  }
}

#home div:nth-child(n) {
  margin-left: 1em;
}

.home-description {
  max-width: 800px;
}
