.ripple-container {
  position: relative;
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ripple-circle {
  width: 10rem;
  height: 10rem;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
}
