.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 300;
  padding: 0.6rem 0;
  box-sizing: border-box;
  background-color: transparent;
  transition: background-color 0.1s ease, border-color 0.1s ease,
    backdrop-filter 0.1s ease;

  &.scrolled {
    background-color: rgba(255, 255, 255, 0.09);
    backdrop-filter: blur(20px) brightness(145%);
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.2em;
    background-color: rgb(18 12 12 / 50%);
  }

  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.2em auto 0;
    max-width: var(--content-max-width);

    &.header-content--share {
      justify-content: center;
    }

    a {
      border-radius: 20px;
    }

    @media (max-width: 1800px) {
      margin-left: var(--space-lg);
      margin-right: var(--space-lg);
    }

    @media (max-width: 768px) {
      margin-left: var(--space-sm);
      margin-right: var(--space-sm);
    }
  }

  .header-logo-link {
    z-index: 100;
    display: block;

    &.header-logo-link--share {
      display: flex;
      flex-direction: column;
      align-items: center;
      pointer-events: none;
    }
  }
}
