.header {
  background-color: rgba(255, 255, 255, 0.09);
  will-change: background-color, border-color, backdrop-filter;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100;
  padding: 0.6rem 0;
  box-sizing: border-box;
  background-color: transparent;
  transition: background-color, border-color,
    backdrop-filter 0.1s ease;

  &.scrolled {
    background-color: rgba(255, 255, 255, 0.09);
    backdrop-filter: blur(20px) brightness(145%);
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.2em;
    background-color: rgb(18 12 12 / 50%);
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 0.2em;
    max-width: 1600px;
  }

  @media screen and (max-width: 1800px) {
    .content {
      margin-left: 4rem;
      margin-right: 4rem;
    }
  }

  @media screen and (max-width: 768px) {
    .content {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
}
