.timeline {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: left;
  gap: 40px;
  align-items: baseline;

  nav {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .timeline-item {
    margin-top: 3em;

    &:first-child {
      margin-top: 0;
    }
  }

  .timeline-legend {
    list-style-type: none;
    position: fixed;
    top: 7em;
    padding: 0;
    margin: 0;

    li {
      margin-top: 2em;

      &:first-child {
        margin-top: 0;
      }
    }

    a {
      cursor: pointer;
      display: block;
      font-size: 0.9em;
      font-weight: 300;
      opacity: 0.5;
      transition: opacity 0.2s ease-in-out;

      &.active {
        opacity: 1;
      }

      &:hover {
        opacity: 0.8;
      }

      span {
        font-weight: 500;
      }
    }
  }
}

.timeline-column {
  position: relative;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}
