.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  z-index: 1000;
  display: none;
  user-select: none;
}

@media (max-width: 768px) {
  .menu {
    display: block;
  }
}

.menuLine {
  fill: none;
  stroke: white;
  stroke-width: 5;
  transition:
    stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menuLine1 {
  stroke-dasharray: 60 207;
  stroke-width: 5;
}

.menuLine2 {
  stroke-dasharray: 60 60;
  stroke-width: 5;
}

.menuLine3 {
  stroke-dasharray: 60 207;
  stroke-width: 5;
}

.opened .menuLine1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 5;
}

.opened .menuLine2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 5;
}

.opened .menuLine3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 5;
}
