.footer {
  background: #00000055;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #ffffff0f;
  z-index: 1000;
  backdrop-filter: blur(10px) brightness(125%);

  .footer-content {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0 auto;
    max-width: var(--content-max-width);
    padding: 0.8rem var(--space-lg);

    @media (max-width: 1000px) {
      padding-left: var(--space-sm);
      padding-right: var(--space-sm);
      min-height: 70px;
    }

    @media (max-width: 640px) {
      padding-left: var(--space-sm);
      padding-right: var(--space-sm);
      flex-direction: column-reverse;
    }
  }
}
