.footer {
  background: #00000055;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #ffffff0f;
  z-index: 1000;
  backdrop-filter: blur(10px) brightness(125%);

  .content {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0.8rem 4rem;
    max-width: 1600px;
  }

  @media screen and (max-width: 640px) {
    .content {
      padding-left: 1rem;
      padding-right: 1rem;
      flex-direction: column-reverse;
    }

    .waveform {
      display: none;
    }

    .player {
      margin-bottom: 1rem;
    }
  }
}
