.footer {
  background: #00000055;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #ffffff0f;
  z-index: 1000;
  backdrop-filter: blur(10px) brightness(125%);

  .content {
    justify-content: start;
    padding: 0.8rem 4rem;
  }

  @media screen and (max-width: 1000px) {
    .content {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .metadata {
      min-width: 240px;
      justify-content: center;

      h3 {
        font-size: 1.2rem;
      }
    }
  }

  @media screen and (max-width: 640px) {
    .content {
      padding-left: 1rem;
      padding-right: 1rem;
      flex-direction: column-reverse;
    }

    .metadata {
      min-width: 200px;

      h3 {
        font-size: 1.2rem;
      }
    }

    .waveform {
      display: none;
    }

    .player {
      margin-bottom: 1rem;
    }
  }
}
