#particles {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
  height: 100%;
  pointer-events: none;

  background: var(--main-background);
  background-size: var(--main-background-size);
  background-attachment: var(--main-background-attachment);
}
