#particles {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  pointer-events: none;

  background: var(--main-background);
  background-size: var(--main-background-size);
  background-attachment: var(--main-background-attachment);
}
