@import './styles/reset.css';

@import './styles/variables.css';
@import './styles/fonts.css';
@import './styles/animations.css';
@import './styles/typography.css';
@import './styles/layout.css';
@import './styles/media.css';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #121212;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: var(--color-text);
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
}

html.custom-cursor-active,
body.custom-cursor-active {
  cursor: none !important;
}

#root {
  margin: 0;
  width: 100vw;
  font-family: 'Livvic', sans-serif;
  font-size: 1rem;
  box-sizing: border-box;
  max-width: 1600px;
  /* display: grid;
  grid-template-rows: fit-content(40%);
  align-content: space-between;
  justify-content: normal;
  align-items: start;
  justify-items: start;
  gap: 1rem;
  padding: 2rem; */

  --shadow-offset: 0;
  --shadow-blur: 20px;
  --shadow-spread: -5px;
  --shadow-color: rgba(255, 255, 255, 0.7);
  --tint-color: 255, 255, 255;
  --tint-opacity: 0.4;
  --frost-blur: 2px;
  --noise-frequency: 0.008;
  --distortion-strength: 77;
  --outer-shadow-blur: 24px;
}

@media screen and (max-width: 768px) {
  #root {
    font-size: 0.85rem;
  }
}

.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}

hr {
  width: 100%;
  overflow: visible; /* For IE */
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}

hr:before {
  display: block;
  content: '';
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

.main-content {
  min-height: calc(100vh - 12em);
  margin: 0.6rem 4rem;
  margin-top: 7em;
  transition: opacity 0.1s ease-in-out;
  padding-bottom: 7em;
}

@media screen and (max-width: 1000px) {
  .main-content {
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 7em;
  }
}

@media screen and (max-width: 768px) {
  .main-content {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
