:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #121212;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: var(--color-text);
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
}

html.custom-cursor-active,
body.custom-cursor-active {
  cursor: none !important;
}

#root {
  margin: 0;
  width: 100vw;
  font-family: 'Livvic', sans-serif;
  font-size: 1rem;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  #root {
    font-size: 0.85rem;
  }
}

.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}

hr {
  width: 100%;
  overflow: visible; /* For IE */
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}

hr:before {
  display: block;
  content: '';
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
  margin: 0 auto;
}

main {
  width: 100vw;

  .content {
    display: block;
    margin: 5em auto;
  }

  @media screen and (max-width: 1800px) {
    .content {
      margin-left: 4rem;
      margin-right: 4rem;
    }
  }

  @media screen and (max-width: 1000px) {
    .content {
      margin-left: 1rem;
      margin-right: 1rem;
      padding-bottom: 3em;
    }
  }
}

::selection {
  background: #154c57;
  color: #fff;
}
