@import '@fontsource/cute-font';
@import '@fontsource/lato';
@import '@fontsource/fira-sans/300.css';
@import '@fontsource/fira-sans/400.css';
@import '@fontsource/fira-sans/500.css';
@import '@fontsource/fira-sans/600.css';
@import '@fontsource/poppins/300.css';
@import '@fontsource/poppins/400.css';
@import '@fontsource/poppins/500.css';
@import '@fontsource/poppins/600.css';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 600;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  background-image: url(./assets/noise.png),
    radial-gradient(ellipse at top, #242937, transparent),
    radial-gradient(ellipse at bottom, #171340, transparent);
  background-size: 200px, 100%, 200%;
  background-attachment: fixed;

  --color-text: #c5c2b9;
  --color-bg: #948e81;
  --color-title: var(--color-text);
  --color-link: #eae1cf;
  --color-link-hover: #fff;
}

#root {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Fira Sans', sans-serif;
  display: grid;
  grid-template-rows: fit-content(40%);
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  gap: 1rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: 'Cute Font', cursive;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}

a {
  text-decoration: none;
  color: var(--color-link);
  font-weight: 500;
  outline: none;
  transition: all 0.3s ease;
}

a:hover,
a:focus {
  color: var(--color-link-hover);
  outline: none;
}
